<div class="container">
  <h2>Featured Movies</h2>
  <div id="movie" class="well">
    <div class="row" *ngFor="let movie of movies">
      <div class="col-sm-4">
        <img [src]="movie.Poster" class="thumbnail">
      </div>
      <div class="col-sm-8">
        <h2>{{movie.Title}}
          <span>({{movie.Year}})</span>
        </h2>
        <p>
          <strong>Awards: </strong>{{movie.Awards}}
        </p>
        <h3>Plot</h3>
        <p> {{movie.Plot}}</p>
        <hr/>
      </div>

    </div>
  </div>
</div>