<div class="container">
  <div id="movie" class="well">
    <div class="row">
      <div class="col-sm-4">
        <img [src]="movie.Poster" class="thumbnail">
      </div>
      <div class="col-sm-8">
        <h2>{{movie.Title}}
          <span>({{movie.Year}})</span>
          <span> | </span>
          {{movie.Type | titlecase }}
        </h2>
        <div class="subtext">
          {{movie.Rated}}
          <span> | </span>
          {{movie.Runtime}}
          <span> | </span>
          {{movie.Genre}}
          <span> | </span>
          {{movie.Released}}
          <span> | </span>
          {{movie.Language}}
        </div>
        <hr/>
        <div class="col-sm-12">
          <p>
            <strong>Director: </strong>{{movie.Director}}</p>
          <p>
            <strong>Writer(s): </strong>
          </p>
          <ul>
            <li *ngFor="let writer of writers">{{writer}}</li>
          </ul>
          <p>
            <strong>Actors: </strong>
          </p>
          <ul>
            <li *ngFor="let actor of actors">{{actor}}</li>
          </ul>
          <p>
            <strong>Awards: </strong>{{movie.Awards}}</p>
          <p>
            <strong>IMDB Rating: </strong>{{movie.imdbRating}}</p>
          <p>
            <strong>IMDB Votes: </strong>{{movie.imdbVotes}}</p>
          <p>
            <strong>Ratings: </strong>
          </p>
          <ul>
            <li *ngFor="let rating of movie.Ratings">
              <strong>{{rating.Source}}: </strong>{{rating.Value}}</li>
          </ul>
        </div>



      </div>
      <div class="row col-sm-12">
        <div class="well">
          <h3>Plot</h3>
          {{movie.Plot}}
          <!-- <div *ngIf="movie.Plot">
            <div *ngIf="movie.Plot.length <= limit">
              {{movie.Plot}}
            </div>
            <div *ngIf="truncating && movie.Plot.length > limit">
              {{movie.Plot | slice:0:limit}}
              <button class="btn btn-primary" (click)="truncating = false">show more</button>
            </div>
            <div *ngIf="!truncating && text.length > limit">
              {{text}}
              <button class="btn btn-primary" (click)="truncating = true">show less</button>
            </div>
          </div> -->
          <hr/>
          <button (click)="goBackToSearch()" class="btn btn-primary">Back To Search</button>
        </div>
      </div>
    </div>
  </div>
</div>