<div class="container">
  <div class="jumbotron">
    <h3 class="text-center">Search Movies</h3>
    <div class="form-row">
      <div class="form-group col-md-2">
        <select [(ngModel)]="plot" class="form-control">
          <option value="full">Full Plot</option>
          <option value="short">Short Plot</option>
        </select>
      </div>
      <div class="form-group col-md-10">
        <input [(ngModel)]="searchString" (keydown.enter)="searchMovies()" type="text" class="form-control" placeholder="Search Movies"
        />
      </div>
    </div>
    <span class="badge badge-danger">{{errorMsg}}</span>
  </div>
</div>

<div class="container">
  <div id="movies" class="row">
    <div class="col-md-3" *ngFor="let movie of movies">
      <div class="well text-center">
        <img [src]="movie.Poster">
        <h5>{{movie.Title}}</h5>
        <button (click)="movieSelected(movie.imdbID)" class="btn btn-primary">Movie Details</button>
      </div>
    </div>
  </div>
</div>